<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 로그인</title>
</head>
<body>
    <h1>회원 로그인e</h1>
    <div th:text="${msg}"></div>
    <form method="post">
        <div>
        <input type="text" nema="username" placeholder="아이디(이메일)을 입력해주세요"  required>
        </div>
        <div>
        <input type="password" nema="password" placeholder="비밀번호를 입력해주세요"  required>
        </div>
        <button type="submit" >로그인</button>
    </form>
</body>
</html>